/* General Style */
body {
    background-color: #51C8F2;
  }
  
  /* Typography */
  h4, h6 {
    color: #F3C91E;
  }
  
  /* Grid Container */
  .MuiGrid-container {
    background-color: #1D8DA7;
    padding: 20px;
  }
  
  /* Card */
  .MuiCard-root {
    background-color: #F9E12C;
  }
  
  /* Card Media */
  .MuiCardMedia-root {
    height: 200px;
  }
  
  /* Card Content */
  .MuiCardContent-root {
    background-color: #F85E7C;
    color: #F3C91E;
  }
  
  /* Expansion Panel */
  .MuiExpansionPanel-root.Mui-expanded {
    background-color: #F85E7C;
  }
  
  /* Expansion Panel Summary */
  .MuiExpansionPanelSummary-content.Mui-expanded {
    color: #F3C91E;
  }
  
  /* Expansion Panel Details */
  .MuiExpansionPanelDetails-root.Mui-expanded {
    background-color: #F9E12C;
    color: #F3C91E;
  }
  